python-telegram-bot[job-queue]==21.6
openpyxl==3.1.5
matplotlib==3.9.2
pytesseract==0.3.13
Pillow==11.0.0
SpeechRecognition==3.17.0
pydub==0.25.1
audioop-lts==0.2.2
standard-aifc==3.13.0
standard-chunk==3.13.0
tzdata==2025.2
anthropic==0.40.0
